/*動かない側の要素*/
div#file{
	float:left;
	width:840px;
	margin:0px;
	padding:0px;
}
/*目的の要素は別divでくるんでおく*/
div#rapRight{
	position:relative;
	right:0px;
	width:150px;
	float:right;
	margin-right:0px;
	margin:5px;
	padding:0px;
}
/*通常時*/
div#sideBar{
	width:150px;
	top:0px;
	padding:0px;
	background-color:white;
}
/*上部固定時*/
div#sideBar.fixed{
	position:fixed;
	top:0px;
}

/*フッターに押し上げられている時*/
div#sideBar.relative{
	position:relative;
}
div#inputForm table{
	text-align:left;
}


table#db{
	margin:0px 10px;
	padding:0px;
	width:100%;

}
table#db th{
	text-align:left;
}
table#db tr.underLine td{
	border-bottom:1px solid #ccc;
}
